
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
}


.tabs__toggle{
    margin: 0 5px;
    padding: 7px 20px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.tabs__name{
    font-weight: 500;
    font-size: 16px;
    color: rgb(63, 63, 63);;
}

.tabs__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    border-radius:25px;
    padding: 30px;
    position: relative;
}

.tabs__title{
    font-weight: 600;
    font-size: 24px;
    color: #484848;
    margin-bottom: 20px;
    text-align: center;
}

.tabs__text{
    font-size: 14px;
    line-height:1.2;
    color: #484848;
}

.tabs__content{
    display: none;
}

.tabs__toggle.is-active{
    background-color: rgba(255,90,38);

}

.tabs__toggle.is-active .tabs__name{
    color:   #fff;
}

.tabs__content.is-active{
    display: flex;
}


input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(139, 139, 139);
  }

.searchField{
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    width:100%;
}

.searchField input, .searchField select {
    height: 3em;
    margin: 0.5em;
    background-color:white;
}



.searchField input[type=number] {
    -moz-appearance: textfield;
  }

.searchField input::placeholder{
    text-align: center;
    
  }

#price-search{
    display:flex;
    gap: 5px;
    margin: 0 0.5em;
    
}



#q{
    min-width: 20em;
    margin:0.5em;
}

#countryService, #countryLocation{
    max-width: 14em;
}

.price-search-row-country{
    max-width: 6em;
    color: #484848;
}

.form-select{
    text-align: center;
}

.btn-search{
    width: 6em;
    height: 3em;
    background-color: white;
    border-radius:20px;
    border:1px solid rgb(190, 186, 186);
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 780px){
    .banner
    {
        height: 80vh;
    }

    .tabs 
    {
        width: 90%;
        margin-top: -25em;
        background: rgba(255,255,255, 0.75);     
    }

    .slogan{
        font-size: 3.5em;
        top:20px;
    }
    
    .tabs__body
    {
        background: rgba(255, 255, 255, 0.5)
    }
    
    .searchField
    {
        flex-direction: column;
    }

    .search-row-q, .price-search-row, .search-row-country
    {
        width: 100%;
    }

    #countryService, #countryLocation 
    {
        max-width: 100%;
    }

    .tabs__body, .tabs__content.is-active, .tabs__content.is-active form{
        width: 100%;
    }

    .btn-search{
        background-color:  rgba(255,90,38);
        color: white;
    }
}