{% extends 'base.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block body %}
    <div class="flex-column" style="font-size:20px; text-decoration:none">
        <a href="{{path('admin_locations')}}" class="button">Locations</a>
        <a href="{{path('admin_services')}}" class="button">Photoshoots</a>
        <a href="{{path('admin_users')}}" class="button">Users</a>
    </div>
{% endblock %}
