{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
        <h1 class="page-title">Locations</h1>
        <section class="all-cards"> 
                {% include "home/_locations.html.twig" %}
        </section>  

        <div class="pagination">
                {{ knp_pagination_render(locations) }}
        </div> 
{% endblock %}
