{% extends 'base.html.twig' %}

{% block title %}New message{% endblock %}

{% block body %}
            <div class="wrapper">
              <h1>New message</h1>
                {{form(messageForm)}}
            </div>
{% endblock %}
